<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>MyApp</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>BeaufortforLOL-Bold.ttf</string>
		<string>BeaufortforLOL-BoldItalic(1).ttf</string>
		<string>BeaufortforLOL-BoldItalic.ttf</string>
		<string>BeaufortforLOL-Heavy.ttf</string>
		<string>BeaufortforLOL-HeavyItalic.ttf</string>
		<string>BeaufortforLOL-Italic.ttf</string>
		<string>BeaufortforLOL-Light.ttf</string>
		<string>BeaufortforLOL-LightItalic.ttf</string>
		<string>BeaufortforLOL-Medium.ttf</string>
		<string>BeaufortforLOL-MediumItalic.ttf</string>
		<string>BeaufortforLOL-Regular.ttf</string>
		<string>Spiegel_TT_Bold.ttf</string>
		<string>Spiegel_TT_Bold_Italic.ttf</string>
		<string>Spiegel_TT_Regular.ttf</string>
		<string>Spiegel_TT_Regular_Italic.ttf</string>
		<string>Spiegel_TT_SemiBold.ttf</string>
		<string>Spiegel_TT_SemiBold_Italic.ttf</string>
	</array>
</dict>
</plist>
